{% extends "layout.html" %}
{% block content %}

<h2 class="page-title mb-1">Error Log</h2>
<p class="page-subtitle mb-4">Failed rows</p>

{% if errors %}
<div class="card p-3">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          {% for key in errors[0].keys() %}
          <th>{{ key }}</th>
          {% endfor %}
        </tr>
      </thead>

      <tbody>
        {% for row in errors %}
        <tr>
          {% for value in row.values() %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<div class="alert alert-success">No errors found</div>
{% endif %}

<a href="{{ url_for('history') }}" class="btn btn-outline-dark mt-3">Back</a>

{% endblock %}